.toddler {
    background: #fff;
    border-right: 1px solid #ddd;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: -400px;
    width: 400px;
    min-height: 100%;
    max-height: 100vh;
    z-index: 1100;
    transition: left 0.4s;
}

.open {
    left: 0px;
}

.close {
    left: -400px;
}

.toddler details {
    margin: 10px;
}

.toddler details > summary {
    cursor: pointer;
}

.toddler details .content {
    padding-left: 20px;
}

.toddler #notification {
    margin-top: 10px;
}

.toddler textarea {
    min-height: 100px;
    max-height: 200px;
}
